CREATE DATABASE vaultwarden;
CREATE DATABASE piped;
CREATE DATABASE paperless;
CREATE DATABASE linkthing;
CREATE DATABASE sftpgo;
CREATE DATABASE shlink;
CREATE DATABASE freshrss;

CREATE USER {{ (bitwardenFields "item" "postgres15").vaultwarden_db_user.value }} WITH PASSWORD '{{ (bitwardenFields "item" "postgres15").vaultwarden_db_password.value }}';
CREATE USER {{ (bitwardenFields "item" "postgres15").piped_db_user.value }} WITH PASSWORD '{{ (bitwardenFields "item" "postgres15").piped_db_password.value }}';
CREATE USER {{ (bitwardenFields "item" "postgres15").paperless_db_user.value }} WITH PASSWORD '{{ (bitwardenFields "item" "postgres15").paperless_db_password.value }}';
CREATE USER {{ (bitwardenFields "item" "postgres15").linkthing_db_user.value }} WITH PASSWORD '{{ (bitwardenFields "item" "postgres15").linkthing_db_password.value }}';
CREATE USER {{ (bitwardenFields "item" "postgres15").sftpgo_db_user.value }} WITH PASSWORD '{{ (bitwardenFields "item" "postgres15").sftpgo_db_password.value }}';
CREATE USER {{ (bitwardenFields "item" "postgres15").shlink_db_user.value }} WITH PASSWORD '{{ (bitwardenFields "item" "postgres15").shlink_db_password.value }}';
CREATE USER {{ (bitwardenFields "item" "postgres15").freshrss_db_user.value }} WITH PASSWORD '{{ (bitwardenFields "item" "postgres15").freshrss_db_password.value }}';

REVOKE CONNECT ON DATABASE basync FROM PUBLIC;
REVOKE CONNECT ON DATABASE vaultwarden FROM PUBLIC;
REVOKE CONNECT ON DATABASE piped FROM PUBLIC;
REVOKE CONNECT ON DATABASE paperless FROM PUBLIC;
REVOKE CONNECT ON DATABASE linkthing FROM PUBLIC;
REVOKE CONNECT ON DATABASE sftpgo FROM PUBLIC;
REVOKE CONNECT ON DATABASE shlink FROM PUBLIC;
REVOKE CONNECT ON DATABASE freshrss FROM PUBLIC;

GRANT CONNECT ON DATABASE vaultwarden TO {{ (bitwardenFields "item" "postgres15").vaultwarden_db_user.value }};
GRANT CONNECT ON DATABASE piped TO {{ (bitwardenFields "item" "postgres15").piped_db_user.value }};
GRANT CONNECT ON DATABASE paperless TO {{ (bitwardenFields "item" "postgres15").paperless_db_user.value }};
GRANT CONNECT ON DATABASE linkthing TO {{ (bitwardenFields "item" "postgres15").linkthing_db_user.value }};
GRANT CONNECT ON DATABASE sftpgo TO {{ (bitwardenFields "item" "postgres15").sftpgo_db_user.value }};
GRANT CONNECT ON DATABASE shlink TO {{ (bitwardenFields "item" "postgres15").shlink_db_user.value }};
GRANT CONNECT ON DATABASE freshrss TO {{ (bitwardenFields "item" "postgres15").freshrss_db_user.value }};

ALTER DATABASE vaultwarden OWNER TO {{ (bitwardenFields "item" "postgres15").vaultwarden_db_user.value }};
ALTER DATABASE piped OWNER TO {{ (bitwardenFields "item" "postgres15").piped_db_user.value }};
ALTER DATABASE paperless OWNER TO {{ (bitwardenFields "item" "postgres15").paperless_db_user.value }};
ALTER DATABASE linkthing OWNER TO {{ (bitwardenFields "item" "postgres15").linkthing_db_user.value }};
ALTER DATABASE sftpgo OWNER TO {{ (bitwardenFields "item" "postgres15").sftpgo_db_user.value }};
ALTER DATABASE shlink OWNER TO {{ (bitwardenFields "item" "postgres15").shlink_db_user.value }};
ALTER DATABASE freshrss OWNER TO {{ (bitwardenFields "item" "postgres15").freshrss_db_user.value }};

GRANT ALL PRIVILEGES ON DATABASE vaultwarden TO {{ (bitwardenFields "item" "postgres15").vaultwarden_db_user.value }};
GRANT ALL PRIVILEGES ON DATABASE piped TO {{ (bitwardenFields "item" "postgres15").piped_db_user.value }};
GRANT ALL PRIVILEGES ON DATABASE paperless TO {{ (bitwardenFields "item" "postgres15").paperless_db_user.value }};
GRANT ALL PRIVILEGES ON DATABASE linkthing TO {{ (bitwardenFields "item" "postgres15").linkthing_db_user.value }};
GRANT ALL PRIVILEGES ON DATABASE sftpgo TO {{ (bitwardenFields "item" "postgres15").sftpgo_db_user.value }};
GRANT ALL PRIVILEGES ON DATABASE shlink TO {{ (bitwardenFields "item" "postgres15").shlink_db_user.value }};
GRANT ALL PRIVILEGES ON DATABASE freshrss TO {{ (bitwardenFields "item" "postgres15").freshrss_db_user.value }};
